.contacts-list {
	&__icon-wrap {
		position: relative;
		width: 105px;
		height: 105px;
		margin: 0 auto 35px;
		border-radius: 50%;
		background-color: $blue;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__info {
		text-align: center;
		font-size: 20px;
		line-height: 1.4;
	}

	&__link {
		color: inherit;

		&:hover {
			text-decoration: none;
			color: inherit;

			@include for-size(desktop) {
				@media(hover: hover) and (pointer: fine) {
					color: $blue;
				}
			}
		}
	}

	@include sprites($spritesheet-sprites);
}