.contact-form {
	font-size: 20px;

	&__label,
	&__input {
		display: block;
		width: 100%;
	}
	&__label {
		margin-bottom: 0;
	}

	&__input {
		margin-bottom: 1.5em;
		padding: 1.5em 1em;
		border-radius: 10px;
		font-weight: 600;

		//&::-moz-placeholder { color: $light-black;
		//	font-weight: 600; }
		//&::-webkit-input-placeholder { color: $light-black;
		//	font-weight: 600; }
		//&:-ms-input-placeholder { color: $light-black;
		//	font-weight: 600; }
		//&::-ms-input-placeholder { color: $light-black;
		//	font-weight: 600; }
		//&::placeholder { color: $light-black;
		//	font-weight: 600; }
	}

	&__btn-wrap {
		text-align: right;
	}

	&__submit {
		display: inline-block;
		width: 100%;
		padding: 1.3em;
		border: none;
		border-radius: 10px;
		background-color: $white;
		text-transform: uppercase;
		font-family: Roboto, Arial, Helvetica, sans-serif;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 1px;
		transition: background-color .2s, color .2s;

		@include for-size(tablet) {
			width: 220px;
		}

		&:hover {
			@include for-size(desktop) {
				@media(hover: hover) and (pointer: fine) {
					background-color: $green;
					color: $white;
				}
			}
		}
	}
}