.services {
	background-color: $bg-green;

	&__wrap {
		padding: 11% 0;
	}

	&__title {
		margin-bottom: .75em;
	}

	&__subtitle {
		margin: 0 auto 10%;

		@include for-size(mobile-landscape) {
			width: 85%;
		}

		@include for-size(desktop) {
			width: 55%;
		}
	}

	&__card {
		margin-bottom: 2em;
	}
}


