<div class="contacts-list">
	<div class="row">
		<div class="col-12 col-md-4 mb-5 mb-md-0">
			<div class="contacts-list__icon-wrap">
				<i class="contacts-list__icon icon-map-marker"></i>
			</div>

			<div class="contacts-list__info">
				<p class="contacts-list__text">
					Nobinagar savar, Dhaka
				</p>

				<p class="contacts-list__text">
					Bangladesh
				</p>
			</div>
		</div>

		<div class="col-12 col-md-4 mb-5 mb-md-0">
			<div class="contacts-list__icon-wrap">
				<i class="contacts-list__icon icon-phone-call"></i>
			</div>

			<div class="contacts-list__info">
				<p class="contacts-list__text">
					<a href="tel:+8801743331996" class="contacts-list__link">+8801743331996</a>
				</p>
				<p class="contacts-list__text">
					<a href="tel:+8801928737807" class="contacts-list__link">+8801928737807</a>
				</p>
			</div>
		</div>

		<div class="col-12 col-md-4 mb-5 mb-md-0">
			<div class="contacts-list__icon-wrap">
				<i class="contacts-list__icon icon-mail"></i>
			</div>

			<div class="contacts-list__info">
				<p class="contacts-list__text">
					<a href="mailto:quickmasud@gmail.com" class="contacts-list__link">quickmasud@gmail.com</a>
				</p>
				<p class="contacts-list__text">
					<a href="mailto:quickmasud@yahoo.com" class="contacts-list__link">quickmasud@yahoo.com</a>
				</p>
			</div>
		</div>
	</div>
</div>