<section class="our-team">
	<div class="container">
		<div class="our-team__wrap">
			<h2 class="our-team__title title">
				Our Team Member
			</h2>

			<h4 class="our-team__subtitle subtitle">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ut enim ad minim veniam,
			</h4>

			<ul id="slider" class="slider">
				<li class="slider__item slide">
					<div class="slide__img-wrap">
						<img src="./img/team-1.jpg" alt="team-member" class="slide__img">
					</div>

					<div class="slide__name">John Doe</div>
					<div class="slide__position">General Manager</div>

					<ul class="slide__soc-net soc-net">
						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fas fa-comments"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
					</ul>
				</li>

				<li class="slider__item slide">
					<div class="slide__img-wrap">
						<img src="./img/team-2.jpg" alt="team-member" class="slide__img">
					</div>

					<div class="slide__name">John Doe</div>
					<div class="slide__position">General Manager</div>

					<ul class="slide__soc-net soc-net">
						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fas fa-comments"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
					</ul>
				</li>

				<li class="slider__item slide">
				<div class="slide__img-wrap">
					<img src="./img/team-3.jpg" alt="team-member" class="slide__img">
				</div>

				<div class="slide__name">John Doe</div>
				<div class="slide__position">General Manager</div>

				<ul class="slide__soc-net soc-net">
					<li class="soc-net__item">
						<a href="#" class="soc-net__link">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>

					<li class="soc-net__item">
						<a href="#" class="soc-net__link">
							<i class="fab fa-twitter"></i>
						</a>
					</li>

					<li class="soc-net__item">
						<a href="#" class="soc-net__link">
							<i class="fas fa-comments"></i>
						</a>
					</li>

					<li class="soc-net__item">
						<a href="#" class="soc-net__link">
							<i class="fab fa-dribbble"></i>
						</a>
					</li>
				</ul>
			</li>

				<li class="slider__item slide">
					<div class="slide__img-wrap">
						<img src="./img/team-1.jpg" alt="team-member" class="slide__img">
					</div>

					<div class="slide__name">John Doe</div>
					<div class="slide__position">General Manager</div>

					<ul class="slide__soc-net soc-net">
						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fas fa-comments"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
					</ul>
				</li>

				<li class="slider__item slide">
					<div class="slide__img-wrap">
						<img src="./img/team-2.jpg" alt="team-member" class="slide__img">
					</div>

					<div class="slide__name">John Doe</div>
					<div class="slide__position">General Manager</div>

					<ul class="slide__soc-net soc-net">
						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fas fa-comments"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
					</ul>
				</li>

				<li class="slider__item slide">
					<div class="slide__img-wrap">
						<img src="./img/team-3.jpg" alt="team-member" class="slide__img">
					</div>

					<div class="slide__name">John Doe</div>
					<div class="slide__position">General Manager</div>

					<ul class="slide__soc-net soc-net">
						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fas fa-comments"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
					</ul>
				</li>

				<li class="slider__item slide">
					<div class="slide__img-wrap">
						<img src="./img/team-1.jpg" alt="team-member" class="slide__img">
					</div>

					<div class="slide__name">John Doe</div>
					<div class="slide__position">General Manager</div>

					<ul class="slide__soc-net soc-net">
						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fas fa-comments"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
					</ul>
				</li>

				<li class="slider__item slide">
					<div class="slide__img-wrap">
						<img src="./img/team-2.jpg" alt="team-member" class="slide__img">
					</div>

					<div class="slide__name">John Doe</div>
					<div class="slide__position">General Manager</div>

					<ul class="slide__soc-net soc-net">
						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fas fa-comments"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
					</ul>
				</li>

				<li class="slider__item slide">
					<div class="slide__img-wrap">
						<img src="./img/team-3.jpg" alt="team-member" class="slide__img">
					</div>

					<div class="slide__name">John Doe</div>
					<div class="slide__position">General Manager</div>

					<ul class="slide__soc-net soc-net">
						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fas fa-comments"></i>
							</a>
						</li>

						<li class="soc-net__item">
							<a href="#" class="soc-net__link">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
					</ul>
				</li>


			</ul>
		</div>
	</div>
</section>