<section class="services" data-element="services">
	<div class="container">
		<div class="services__wrap">
			<h2 class="services__title title">
				Our Services
			</h2>

			<h4 class="services__subtitle subtitle">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ut enim ad minim veniam,
			</h4>

			<div class="row">
				<div class="col-12 col-md-6 col-lg-4">
					<div class="services__card card">
							<div class="card__icon">
								<i class="icon icon-smartphone"></i>
							</div>
							<h4 class="card__title">
								Research
							</h4>
							<p class="card__text">
								At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
							</p>
							<a href="#" class="card__btn" data-element="read-more">read more</a>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4">
					<div class="services__card card">
							<div class="card__icon">
								<i class="icon icon-smartphone"></i>
							</div>
							<h4 class="card__title">
								Portfolio
							</h4>
							<p class="card__text">
								At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
							</p>
							<a href="#" class="card__btn" data-element="read-more">read more</a>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4">
					<div class="services__card card">
							<div class="card__icon">
								<i class="icon icon-smartphone"></i>
							</div>
							<h4 class="card__title">
								Support
							</h4>
							<p class="card__text">
								At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
							</p>
							<a href="#" class="card__btn" data-element="read-more">read more</a>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4">
					<div class="services__card card">
						<div class="card__icon">
							<i class="icon icon-smartphone"></i>
						</div>
						<h4 class="card__title">
							Documentation
						</h4>
						<p class="card__text">
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
						</p>
						<a href="#" class="card__btn" data-element="read-more">read more</a>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4">
					<div class="services__card card">
						<div class="card__icon">
							<i class="icon icon-smartphone"></i>
						</div>
						<h4 class="card__title">
							Development
						</h4>
						<p class="card__text">
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
						</p>
						<a href="#" class="card__btn" data-element="read-more">read more</a>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4">
					<div class="services__card card">
						<div class="card__icon">
							<i class="icon icon-smartphone"></i>
						</div>
						<h4 class="card__title">
							Design
						</h4>
						<p class="card__text">
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
						</p>
						<a href="#" class="card__btn" data-element="read-more">read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>